<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src ="https://ajax.googlapis.com/ajax/libs/jquery/3.1.1./jquery.min.js"></script>
</head>
<body>
<div>
    @RenderBody()
</div>
<div>
    @ViewData["Prof"]
</div>
</body>
</html>
